[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/glText"]
	path = deps/glText
	url = https://github.com/vallentin/glText
[submodule "deps/libnoise"]
	path = deps/libnoise
	url = https://github.com/eXpl0it3r/libnoise
[submodule "deps/portable-file-dialogs"]
	path = deps/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
